___
Mr. Yogesh P Murumkar (965708095)

www.youtube.com/yogeshmurumkar
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [235]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\Admin\\2Pandas'

In [7]:
df = pd.DataFrame(pd.read_csv('EcommercePurchases.csv'))

**Check the head of the DataFrame.**

In [8]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [24]:
n_rows = df.index.size
n_col = df.columns.size
print(str(n_rows) + ' ' + str(n_col))

10000 14

** What is the average Purchase Price? **

In [32]:
df['Purchase Price'].mean()

50.347302

In [39]:
df['Language'].count

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object

** What were the highest and lowest purchase prices? **

In [38]:
ppmax = df['Purchase Price'].max()
ppmin = df['Purchase Price'].min()

print(str(ppmax) + ' ' +  str(ppmin))

99.99 0.0

** How many people have English 'en' as their Language of choice on the website? **

In [48]:
df[df['Language'] == 'en'].index.size

1098

** How many people have the job title of "Lawyer" ? **

In [49]:
df[df['Job'] == 'Lawyer'].index.size

30

In [79]:
df.value_counts('AM or PM', 'PM')

AM or PM
PM    0.5068
AM    0.4932
Name: proportion, dtype: float64

In [ ]:
** How many people made the purchase during the AM and how many people made the purchase during PM ? **

In [245]:
 
pmcount = df['AM or PM'].value_counts()['PM']
amcount = df['AM or PM'].value_counts()['AM']
df['AM or PM'].value_counts()['PM']
print('AM Count : ' + str(amcount) + ' \nPM Count : ' + str(pmcount))

AM Count : 4932
PM Count : 5068

In [82]:
df['Job'].value_counts().nlargest(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

** What are the 5 most common Job Titles? **

In [83]:
df['Job'].value_counts().nlargest(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

1234    4926535242672853
Name: Credit Card, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [97]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [228]:
df[df['Email']=='bondellen@williams-garza.com']['Credit Card']
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [193]:
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [218]:
df2 = df['CC Exp Date']
type(df2)   
c = 0

for n1 in df2:
    s1 = n1.split('/')
    if s1[1]=='25':
        c +=1


print(c)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [243]:
df3 = df['Email']
type(df3)   
c = 0
s2 = []

for n1 in df3:
    #print(type(n1))
    s1 = n1.split('@')
    s2.append(s1[1])

df4 = pd.DataFrame({'domain': s2})
df4['domain'].value_counts().nlargest(5)

domain
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

# Great Job!